
@import '../styles.scss';

:host(app-root) {
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    min-width: 100%;
    // @media only screen and (max-width: $tablet){
    //     min-width: 50%
    // }
    main {
        display: flex;
        min-height: 100%;
        min-width: 100%;
    }
}

    
  
  